<%- include("header") %>

<div class="box">
    <h2  style="margin:auto;  padding-top: 2em ; text-align: center">Welcome to To-Do-list</h2>
    <p>Vitae sapien pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas sed tempus urna et pharetra pharetra massa massa ultricies mi quis hendrerit dolor magna eget est lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque habitant morbi tristique senectus et netus et malesuada fames ac</p>
</div>

<%- include("footer") %> 